/* *general font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Kaushan+Script&display=swap");

/* *tasks font  */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap");
/* font-family: 'Caveat', cursive; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --header-color: #b236ec;
  --title-color: #ffbb53;
  --gray-color-secondary: #ddd;
  --gray-color-light: #f6f6f6;
  --bg-color-primary: #fff;
  --text-color-gray: #888;
  --active-task-text: #333;
  --completed-task-text: #aaa;
  --form-bg-color: #f8f8f8;
}

/* ! general */

*::-webkit-scrollbar {
  width: 0;
}

.dark-mode {
  --header-color: #31857b;
  --bg-color-primary: #555555;
  --form-bg-color: #666666;
}

.bg-color-primary {
  background-color: var(--bg-color-primary);
}

.cursor-pointer {
  cursor: pointer;
}

.ml-auto {
  margin-left: auto;
}

/* ! header */
body {
  overflow: hidden;
}
main {
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  height: 100vh;
  overflow: auto;
}

.header {
  background-color: var(--header-color);
  border-radius: 0 0 3rem 0;
  padding-bottom: 6rem;
  position: sticky;
  left: 0;
  top: 0;
}

.main-title {
  color: var(--title-color);
}

.text-secondary-color {
  color: var(--gray-color-secondary);
}

.profile-img-container {
  border: 1px dashed var(--title-color);
}

.profile-img {
  width: 48px;
  height: 48px;
}

/* !section */

.filters {
  color: var(--text-color-gray);
}

.filters.active {
  color: var(--title-color);
}

.tasks-list-container {
  height: 60vh;
  overflow: auto;
}

.task {
  background-color: var(--gray-color-light);
}

.task span {
  color: var(--active-task-text);
}

.task.checked {
  background-color: var(--gray-color-secondary);
}

.task.task.checked span {
  color: var(--completed-task-text);
  text-decoration: line-through;
}

/* !form */

.new-todo {
  background-color: var(--form-bg-color);
  position: sticky;
  left: 0;
  bottom: 0;
}

input {
  color: var(--active-task-text);
}

input:focus {
  outline: none;
}

/* !-------------------------------------- */
/* ! MEDIA QUERRIES */
/* !-------------------------------------- */

@media (min-width: 768px) {
  .tasks-list-container {
    height: 80vh;
  }
}

@media (min-width: 992px) {
  main {
    width: 800px;
  }

  .header {
    border-radius: 1rem 1rem 3rem 0;
  }

  main {
    border-radius: 1rem;
    height: 90vh;
  }
}
