/* *general font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Kaushan+Script&display=swap");

/* *tasks font  */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap");
/* font-family: 'Caveat', cursive; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --body-color: #ececec;
  --header-color: #b236ec;
  --title-color: #ffbb53;
  --gray-color-secondary: #ddd;
  --gray-color-light: #f6f6f6;
  --bg-color-primary: #fff;
  --text-color-gray: #888;
  --active-task-text: #333;
  --completed-task-text: #aaa;
  --form-bg-color: #f8f8f8;
  --input-text: #555;
  ---filters-color: #888;
  --check-color: #9aff92;
}

/* ! general */

*::-webkit-scrollbar {
  width: 0;
}

.dark-mode {
  --body-color: #787878;
  --header-color: #31857b;
  --bg-color-primary: #555555;
  --form-bg-color: #666666;
  --input-text: #eee;
  ---filters-color: #aaa;
}

.bg-color-primary {
  background-color: var(--bg-color-primary);
}

.cursor-pointer {
  cursor: pointer;
}

.ml-auto {
  margin-left: auto;
}

/* ! header */
body {
  overflow: hidden;
  background-color: var(--body-color) !important;
}
main {
  width: 100%;
  border-radius: 0;
  height: 100vh;
  overflow: auto;
}

.menu {
  position: sticky;
  left: 0;
  top: 0;
}

.header {
  background-color: var(--header-color);
  border-radius: 0 0 3rem 0;
  padding-bottom: 6rem;
}

.main-title {
  color: var(--title-color);
}

.text-secondary-color {
  color: var(--gray-color-secondary);
}

.profile-img-container {
  border: 1px dashed var(--title-color);
}

.profile-img {
  width: 48px;
  height: 48px;
}

/* !section */

.filter {
  color: var(---filters-color);
}

.filter.active {
  color: var(--title-color);
}

#order-msg {
  color: var(--input-text);
}

.tasks-list-container {
  height: 60vh;
  overflow: auto;
}

.clip {
  width: 80%;
}

#no-todo-text {
  color: var(---filters-color);
}

#add-todo-text {
  color: var(--header-color);
}

.task {
  background-color: var(--gray-color-light);
}

.task span {
  color: var(--active-task-text);
}

.task.checked {
  background-color: var(--gray-color-secondary);
}

.task.task.checked label {
  color: var(--completed-task-text);
  text-decoration: line-through;
}

input[type="checkbox"] {
  width: 25px;
  height: 20px;
  border: 1px var(--gray-color-secondary) solid !important;
}

input[type="checkbox"]:checked {
  border: none;
  outline: none;
  background-color: var(--check-color);
}

input[type="checkbox"]:focus {
  box-shadow: none;
}

.list-empty-title {
  color: var(--completed-task-text) !important;
}

.list-empty-text {
  color: var(--header-color) !important;
}

/* !form */

.new-todo {
  background-color: var(--form-bg-color);
  position: sticky;
  left: 0;
  bottom: 0;
}

input {
  color: var(--input-text);
}

input::placeholder {
  color: #aaa;
}

input:focus {
  outline: none;
}

/* !Notification */
.notif {
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0px 0px 8px #00000030);
  opacity: 0;
}

.notif.active {
  bottom: 75px;
  opacity: 1;
  transition: all 0.5s linear;
}
/* !-------------------------------------- */
/* ! MEDIA QUERRIES */
/* !-------------------------------------- */

@media (min-width: 768px) {
  .tasks-list-container {
    height: clamp(55vh, 55vh, 80vh);
  }

  .clip {
    width: 55%;
  }

  input[type="checkbox"] {
    width: 20px;
  }
}

@media (min-width: 992px) {
  .header {
    border-radius: 1rem 1rem 3rem 0;
  }
  .clip {
    width: 45%;
  }

  main {
    width: 800px;
    border-radius: 1rem;
    height: 90vh;
  }
}
